<div class="full-background">
  <app-navbar></app-navbar>
  <div class="container d-flex justify-content-center">
    <div class="card mt-5" style="width: 18rem">
      <img [src]="cartaUno.image" alt="" srcset="" />
    </div>
    <div class="card mt-5" style="width: 18rem">
      <img [src]="cartaDos.image" alt="" srcset="" />
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-primary mt-3 ms-3"
      (click)="drawCardMayor()"
      [disabled]="estadoJuego"
    >
      CARTA MAYOR
    </button>
    <button
      type="button"
      class="btn btn-primary mt-3 ms-3"
      (click)="drawCardMenor()"
      [disabled]="estadoJuego"
    >
      CARTA MENOR
    </button>
  </div>
  <div
    class="container d-flex justify-content-center mt-5 alert alert-primary"
    role="alert"
  >
    <b>PUNTOS {{ puntos }}</b>
  </div>
  <div
    class="container d-flex justify-content-center mt-5 alert alert-primary"
    role="alert"
  >
    <b>VIDAS {{ vidas }}</b>
  </div>
  <div
    class="container d-flex justify-content-center mt-5"
    *ngIf="estadoJuego == true"
  >
    <button type="button" class="btn btn-danger" (click)="reiniciarJuego()">
      Reiniciar Juego
    </button>
  </div>
</div>
