<div class="full-background">
  <form
    class="position-relative position-absolute top-50 start-50 translate-middle"
    [formGroup]="userRegistro"
    (ngSubmit)="registro()"
  >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      <div
        *ngIf="
          userRegistro.get('email')?.touched &&
          userRegistro.get('email')?.errors
        "
      >
        <!-- Muestra el mensaje de error adecuado -->
        <p *ngIf="userRegistro.get('email')?.errors?.['required']">
          El email es requerido.
        </p>
        <p *ngIf="userRegistro.get('email')?.errors?.['email']">
          Por favor, introduce una dirección de email válida.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
      />
    </div>
    <div class="d-flex justify-content-evenly p-5">
      <button
        type="button"
        class="btn btn-primary rounded-pill"
        (click)="volverLogin()"
      >
        Volver a Login
      </button>
      <button
        type="submit"
        class="btn btn-danger rounded-pill"
        [disabled]="!userRegistro.valid"
      >
        Registrarse
      </button>
    </div>
  </form>
</div>
