<div class="position-absolute bottom-0 end-0 w-25">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
          (click)="scrollDown()"
        >
          Chat
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
        style="max-height: 600px; overflow-y: auto; overflow-x: hidden"
      >
        <div *ngFor="let item of mensajes" style="word-wrap: break-word">
          <b>{{ item.nombre }}</b
          >({{ item.fecha.toDate().toLocaleTimeString() }}):{{ item.mensaje }}
          <!-- <div>Enviado a las {{ item.fecha | date : "shortTime" }}</div> -->
        </div>
        <input
          style="height: 50px; overflow-y: auto"
          type="text"
          class="form-control mt-3"
          placeholder="Escribe un mensaje"
          [(ngModel)]="mensaje"
          (keyup.enter)="enviarMensaje(); scrollDown()"
        />
      </div>
    </div>
  </div>
</div>
