<div class="full-background">
  <div
    class="position-relative position-absolute top-50 start-50 translate-middle"
  >
    <h1 class="text-center">Quien Soy?</h1>
    <p class="text-center">
      Mi nombre es Cristian, soy estudiante de programación en la Universidad
      Tecnológica Nacional y me encuentro cursando el segundo año de la carrera.
      Me apasiona la programación y el desarrollo de software.
    </p>
    <p class="text-center">
      En este proyecto, he desarrollado una aplicación web de juegos, la cual
      consta de un login y registro de usuario, una sala de juegos y una
      biografía personal. La aplicación web fue desarrollada con Angular y
      Firebase.
    </p>
    <div class="image-container text-center">
      <img src="/assets/yo.jpg" alt="yo" srcset="" />
    </div>
    <div class="text-center mt-5">
      <button type="button" class="btn btn-success" (click)="irHome()">
        Volver a Home
      </button>
    </div>
  </div>
</div>
